<!DOCTYPE html>
<html lang="en">
    {{> head }}

    <body>
        {{> loader }}

        <div id="pcoded" class="pcoded">
            <div class="pcoded-overlay-box"></div>
            <div class="pcoded-container navbar-wrapper">
                {{> header }}

                <div class="pcoded-main-container">
                    <div class="pcoded-wrapper">
                        {{> sidebar }}

                        <div class="pcoded-content">
                            <div class="page-header">
                                <div class="page-block">
                                    <div class="row align-items-center">
                                        <div class="col-md-8">
                                            <div class="page-header-title">
                                                <h5 class="m-b-10">CATEGORIES | Sub Categories</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">  
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5>Edit Sub Category</h5>
                                            </div>
                                            <div class="card-block">
                                                <form action="/updateSubCategory/{{data.id}}" method="POST" enctype="multipart/form-data" id="editSubCategoryForm">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="col-sm-12 col-form-label">Category</label>
                                                            <div class="col-sm-12">
                                                                <select name="category" class="form-control">
                                                                    <option value={{data.categories.id}}>{{data.categories.title}}</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-12 col-form-label">Title</label>
                                                            <div class="col-sm-12">
                                                                <input type="text" name="title" value="{{data.title}}" class="form-control" autocomplete="off" required="true">
                                                            </div>
                                                        </div>
                                                        <div class="productViewFlex">
                                                            <div class="productView">
                                                                <div class="productViewPic">
                                                                    <img class="img-80 img-radius" src="{{data.image}}" alt="Image">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-12 col-form-label">Image</label>
                                                            <div class="col-sm-12">
                                                                <input type="file" name="image" class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-12 col-form-label">Description</label>
                                                            <div class="col-sm-12">
                                                                <textarea id="editor" rows="5" cols="5" name="description" class="form-control" required="true">{{data.description}}</textarea>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <button type="submit" class="py-2 btn btn-primary waves-effect waves-light">Update</button>
                                                                <a href="javascript:history.back()" class="py-2 btn btn-info waves-effect waves-light text-white">Cancel</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{> script }}

        <script>
            $(document).on('click',"#sub-category",function(e){
                e.preventDefault();
                var key = $(this).attr('data-attr-key');
                $('#sub-category-'+key).submit();
            })
        </script>
    </body>
</html>
